[Desktop Entry]
Name=SysTune
Comment=A lightweight and efficient GTK-based system settings manager
Exec=/usr/bin/systune
Icon=/usr/share/pixmaps/systune.png
Terminal=false
Type=Application
Categories=Utility;System;Settings;
Keywords=system;settings;gtk;display;audio;network;security;
StartupNotify=true